:root {
    --element-header-size: 100px;
    --main-color: #124040;
    --dark-main-color: #0c2828;
    --rgba-dark-main-color-25: rgba(26,64,64,0.25);
    --rgba-dark-main-color-50: rgba(26,64,64,0.5);
    --error-color: #EB6057;
    --success-color: #59B987;
    --font-size-small: 13px;
    --color-black: rgba(35, 37, 36, 0.75);
    --color-white-purple: rgba(241, 234, 241, 0.75);
    --border-color: rgba(114, 111, 111, 0.1);
    --scale-proportion: scale(1.02);
    --scale-time: .2s;
    --btn-background-purple: linear-gradient(125deg, rgb(218, 198, 219) 0%, rgb(201, 219, 223) 100%);
    --font-family-montserrat: 'Montserrat', sans-serif;
    --font-family-monospace: 'Source Code Pro', monospace;
    --font-family: 'Nunito', sans-serif;
    --font-weight: 700;
    --color-black-general: rgba(0, 0, 0, 0.5);
}

body {
    min-width: 600px;
    margin: 0;
    font-family: var(--font-family);
    font-size: var(--font-size-small);
    color: var(--color-black-general);
}

.logo {
    width: var(--element-header-size);
    height: var(--element-header-size);
}

.content {
    min-height: 600px;
}

footer {
    font-size: var(--font-size-small);
    height: 100px;
    text-align: center;
    line-height: 100px;
    color:rgba(0, 0, 0, 0.5);
}

.action-container {
    display: block;
    padding: 20px 10%;
    margin-top: 10px;
    font-size: var(--font-size-small);
}

button {
    height: 30px;
    width: 100px;
    background: rgba(65, 106, 219, 0.9);
    border: none;
    border-radius: 3px;
    color: white;
    font-size: var(--font-size-small);
    font-weight: var(--font-weight);
    font-family: var(--font-family);
}

button:hover {
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
}

input {
    color: var(--color-black-general);
    height: 30px;
    border-radius: 2px 0 0 2px;
    border: none;
    border-bottom: 1px solid var(--border-color);
    padding: 2px 5px;
    font-size: var(--font-size-small);
    font-family: var(--font-family);
}

input[type="text"]:focus {
    outline: none;
}

input:focus {
    outline: none;
}

.disabled {
    display: none;
}

p {
    margin: 0;
}

.text-overflow-dot {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.field {
    margin-bottom: 20px;
    height: 30px;
    line-height: 30px;
}

a {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

.delete-btn-style {
    /* background: rgb(206, 66, 66); */
    background: #f5222d;
}

.save-btn-style {
    background: rgb(43,94,44);
}

.detail-info-btn-style {
    background: rgb(59, 119, 230);
}

.cancel-btn-style {
    background: white;
    color: black;
}
