/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background: rgba(206, 203, 207, 0.5);
    animation-name: showing-modal;
    animation-duration: 0.5s;
}
  
/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
    width: 320px;
    min-height: 450px;
    max-height: 450px;
    overflow-y: auto;
}

@keyframes showing-modal {
    from {opacity: 0; padding-top: 80px;}
    to {opacity: 1; padding-top: 100px;}
}

.modal-content h2 {
    text-align: center;
    margin-bottom: 50px;
    color: black;
}
  
/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: lighter;
}
  
.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal input {
    width: calc(100% - 12px);
    height: 30px;
    border: none;
    border-bottom: 1px solid var(--border-color);
    padding: 0 5px;
    margin-bottom: 30px;
}

.modal .dialog-footer {
    margin-top: 30px;
}

.modal .dialog-footer button {
    width: calc(50% - 4px);
}

.modal b:hover {
    color: black;
    cursor: pointer;
}

.modal .message-in-dialog {
    color: red;
    font-size: 10px;
    margin: 0 30px;
}

/* deletion confirmation */
#confirm-delete-dialog {
    z-index: 1000;
}

#confirm-delete-dialog .modal-content {
    min-height: 150px;
    height: 150px;
}

/* list detail dialog */
.manage-list-content {
    min-width: 600px;
}

.header-content-of-a-list {
    padding: 20px;
    padding-top: 0;
    color: var(--color-black);
    text-transform: uppercase;
}

.header-content-of-a-list h2 {
    font-weight: lighter;
    margin-bottom: 20px;
}

/* add word area */
.add-words-container {
    padding: 10px 100px 30px 100px;
}

.add-words-container button.add-more-eng-word-field {
    background: url('../public/add.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%; /*  Safari  */
    -khtml-background-size: 100% 100%; /*  Konqueror  */
    -moz-background-size: 100% 100%; /*  Firefox  */
    height: 30px;
    width: 30px;
    display: block;
    transition: transform var(--scale-time); /* Animation */
}

.add-words-container button.add-more-eng-word-field:hover {
    transform: var(--scale-proportion);
}

.add-more-eng-word-field-container {
    height: 30px;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}

#add-update-btn-container {
    float: right;
}

/* table words */
.list-content-table {
    text-align: left;
    font-size: var(--font-size-small);
}

.list-content-table th {
    color: black;
}

.list-content-table td {
    height: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
  }

.list-content-table tr.words-table-item:hover {
    color: black;
    cursor: pointer;
}

.img-word-actions {
    width: 20px;
    height: 20px;
    transition: transform var(--scale-time); /* Animation */
}

.img-word-actions:hover {
    transform: scale(1.25);
}

.management-list-btn-container {
    text-align: center;
}

