/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 70px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background: rgba(206, 203, 207, 0.5);
    animation-name: showing-modal;
    animation-duration: 0.5s;
}
  
/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
    width: 320px;
    min-height: 450px;
    max-height: 450px;
    overflow-y: auto;
}

@keyframes showing-modal {
    from {opacity: 0; padding-top: 60px;}
    to {opacity: 1; padding-top: 70px;}
}

.modal-content h2 {
    text-align: center;
    margin-bottom: 50px;
    color: black;
}
  
/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: lighter;
}
  
.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal input {
    width: calc(100% - 12px);
    height: 30px;
    border: none;
    border-bottom: 1px solid var(--border-color);
    padding: 0 5px;
    margin-bottom: 30px;
}

.modal .dialog-footer {
    margin-top: 30px;
}

.modal b:hover {
    color: black;
    cursor: pointer;
}

.modal .message-in-dialog {
    color: red;
    font-size: 10px;
    margin: 0 30px;
}

/* deletion confirmation */
#confirm-delete-dialog {
    z-index: 1000;
}

#confirm-delete-dialog .modal-content {
    width: 400px;
    min-height: 150px;
    height: 150px;
}

.modal .dialog-footer {
    text-align: right;
}

/* list content */
.list-content {
    padding: 0 40px;
}

/* list detail dialog */
.manage-list-content {
    min-width: 1000px;
}

.header-content-of-a-list {
    color: var(--color-black);
    text-transform: uppercase;
}

.header-content-of-a-list h2 {
    margin-bottom: 30px;
}

#manage-words-in-list-container {
    display: flex;
}

/* add word area */
.add-words-container {
    width: 40%;
    margin-right: 50px;
}
.add-words-container button.add-more-eng-word-field {
    background: url('../public/add.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%; /*  Safari  */
    -khtml-background-size: 100% 100%; /*  Konqueror  */
    -moz-background-size: 100% 100%; /*  Firefox  */
    height: 30px;
    width: 30px;
    display: block;
}

.modal .exist-english-meaning {
    border-bottom: 1px solid #009879;
}

.add-more-eng-word-field-container {
    height: 30px;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}

#add-update-btn-container {
    float: right;
}

/* table words */
.list-content-table-container {
    width: 60%;
}

.list-content-table {
    text-align: left;
    font-size: var(--font-size-small);
    /* background: cadetblue; */
    border-collapse: collapse;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.list-content-table tr {
    height: 40px;
}

.list-content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.list-content-table th {
    background-color: #009879;
    color: #ffffff;
    padding-left: 5px;
}

.list-content-table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 5px;
}

.list-content-table tbody tr:hover {
    font-weight: bold;
    color: #009879;
}

.img-word-actions {
    width: 20px;
    height: 20px;
    transition: transform var(--scale-time); /* Animation */
}

.img-word-actions:hover {
    transform: scale(1.25);
}

.management-list-btn-container {
    text-align: center;
}

