.add-words label {
    width: 30%
}

.add-words input[type="text"] {
    float: right;
    width: 60%;
    height: calc(100% - 2px);
    border: 1px solid var(--main-color);
    border-radius: 10px;
    padding: 0 5px;
    margin: 0;
}

input[type="text"]:focus {
  outline: none;
}

.add-words div {
    margin-bottom: 20px;
    height: 30px;
    line-height: 30px;
}

.add-words button {
    height: 30px;
    width: 60px;
    background-color: lightseagreen;
    border: 1px solid var(--main-color);
    border-radius: 10px;
}

.form-container {
    display: block;
    padding: 20px 10%;
    border: 1px solid var(--main-color);
    border-radius: 15px;
    margin-top: 10px;
}

.form-container button {
    height: 30px;
    width: 100px;
    background-color: lightseagreen;
    border: none;
    border-radius: 10px;
}

.lesson-area {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid var(--main-color);
    border-radius: 10px;
    text-align: center;
    
}

.lesson-area input[type="text"] {
    width: 60%;
    height: 30px;
    border: 1px solid var(--main-color);
    border-radius: 10px;
    padding: 0 5px;
    margin-bottom: 20px;
}

.viet-word {
    margin: 20px;
    font-size: 30px;
    height: 30px;
}

.anwser {
    margin-top: 20px;
    border: 1px solid var(--main-color);
    border-radius: 10px;
    height: 30px;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}