.lesson-area {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid var(--main-color);
    border-radius: 10px;
    text-align: center;
}

.lesson-area input[type="text"] {
    width: 60%;
    height: 30px;
    border: 1px solid var(--main-color);
    border-radius: 10px;
    padding: 0 5px;
    margin-bottom: 20px;
}

.start-lesson-btn {
    margin-right: 30px;
}

.viet-word {
    margin: 20px;
    font-size: 30px;
    height: 30px;
}

.answer {
    margin: 20px 30%;
    margin-bottom: 0;
    border: 1px solid var(--main-color);
    border-radius: 10px;
    height: 30px;
    line-height: 30px;
    width: 40%;
}

.learning-progress {
    height: 30px;
}

.lesson-area button.add-more-user-answer-field {
    background: url('../public/add.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%; /*  Safari  */
    -khtml-background-size: 100% 100%; /*  Konqueror  */
    -moz-background-size: 100% 100%; /*  Firefox  */
    height: 30px;
    width: 30px;
    display: block;
    margin-left: 30%;
    transition: transform var(--scale-time); /* Animation */
}

.lesson-area button.add-more-user-answer-field:hover {
    transform: scale(1.1);
}

.user-answer-container {
    margin: 20px 30% 0 30%;
}

.user-answer-container input.user-eng-answer {
    width: calc(100% - 12px);
}

.input-checkbox {
    border: 1px solid var(--main-color);
    border-radius: 10px;
    height: 30px;
    width: 50px;
    padding: 0 5px;
}

#list-of-word-lists {
    width: 200px;
}
