.menu {
    height: 50px;
    line-height: 50px;
    width: 100%;
    min-width: 600px;
    border-radius: 2px;
    display: flex;
    color: rgba(35, 37, 36, 0.75);
    font-size: var(--font-size-small);
    border-bottom: 1px solid var(--border-color);
    position: fixed;
    background-color: white;
    z-index: 10;
}

.menu a {
    color: inherit;
    display: block;
    width: 80px;
    text-align: center;
    text-decoration: none;
}

.menu a:hover {
    color: black;
    cursor: pointer;
    border-bottom: 1px solid var(--rgba-dark-main-color-25);
}

.menu div.user-action {
    display: flex;
    flex-grow: 2;
    justify-content: flex-end;
    padding-right: 10%;
}

.menu .logo-container {
    display: flex;
    flex-grow: 2;
    padding-left: 10%;
}

.menu .logo {
    width: 150px;
    margin: 10px 0;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: var(--color-white-purple);
    border-radius: 5px;
    background: linear-gradient(125deg, rgba(160,102,164,1) 0%, rgba(107,179,196,1) 100%);
    box-shadow: 1px 1px 5px rgba(160,102,164,1);
}

.menu .current-page {
    border-bottom: 1px solid var(--rgba-dark-main-color-25);
}

.img-account {
    height: 30px;
    width: 30px;
    margin: 10px 0;
}

.menu .img-account-link {
    width: 30px;
}

.dropdown a {
    text-align: left;
    text-transform:capitalize;
    padding-left: 5px;
}

.dropdown-content {
    display: none;
    overflow: auto;
}
  
.dropdown-content a {
    height: 40px;
    line-height: 40px;
    background-color: white;
    border-radius: 4px;
}

.dropdown-content a:hover {
    background: linear-gradient(125deg, rgba(160,102,164,1) 0%, rgba(107,179,196,1) 100%);
    border: none;
    color: rgba(241, 234, 241, 0.75);
}

.show {
    display: block;
}