.add-words-container label {
    width: 30%
}

.add-words-container input[type="text"] {
    float: right;
    width: 60%;
    height: calc(100% - 2px);
    border: 1px solid var(--main-color);
    border-radius: 10px;
    padding: 0 5px;
    margin: 0;
}

.field {
    margin-bottom: 20px;
    height: 30px;
    line-height: 30px;
}

.list-name-input {
    height: 30px;
    border: 1px solid var(--main-color);
    border-radius: 10px;
    padding: 0 5px;
    width: 60%;
    margin-bottom: 20px;
}

.list-of-word-lists {
    border: 1px solid var(--main-color);
    border-radius: 10px;
    height: 30px;
    width: 30%;
    padding: 0 5px;
}

.list-of-word-lists:focus {
    outline: none;
}

.add-words-container button.add-more-eng-word-field {
    background: url('../public/add.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%; /*  Safari  */
    -khtml-background-size: 100% 100%; /*  Konqueror  */
    -moz-background-size: 100% 100%; /*  Firefox  */
    height: 30px;
    width: 30px;
    display: block;
    transition: transform .2s; /* Animation */
}

.add-words-container button.add-more-eng-word-field:hover {
    transform: scale(1.1);
}

.add-more-eng-word-field-container {
    height: 30px;
    padding: 0;
    padding-left: calc(40% - 12px);
    margin: 0;

}

/* List data area */
.lists-container {
    margin-top: 30px;
    padding: 0;
    text-align: center;
}

.content-of-lists-container {
    display: flex;
}

.list-of-list-name {
    background-color: var(--main-color);
    color: white;
    width: 25%;
    border: 0.1px solid var(--main-color);
    border-left: none;
    border-bottom: none;
    padding: 50px 20px;
}

.list-of-list-name h2 {
    margin: 0;
    margin-bottom: 50px;
}

.list-content {
    width: 75%;
    padding-left: 30px;
}

.a-list-value {
    height: 40px;
    text-align: left;
    line-height: 40px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    font-size: var(--font-size-small);
    display: flex;
}

.a-list-value:hover {
    background-color: var(--dark-main-color);
}

.list-name-value {
    width: 75%;
}

.viet-quanity-value {
    width: 25%;
    text-align: right;
}

.header-content-of-a-list {
    padding: 20px 20px;
    background-color: var(--main-color);
    color: white;
    margin-bottom: 30px;
}

.list-content-table {
    text-align: left;
    font-size: var(--font-size-small);
}

.list-content-table th {
    border-bottom: 1px solid rgba(6, 19, 8, 0.25);
  
}

.list-content-table td {
    height: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
  }

  .list-content-table tr:hover {
    background-color: var(--dark-main-color);
    color: white;
  }
