/* List data area */
.lists-container {
    padding: 0;
    text-align: center;
}

.content-of-lists-container {
    display: flex;
}

.list-of-list-name {
    color: var(--color-black);
    width: 25%;
    border-radius: 3px;
    padding: 90px 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.list-of-list-name h2 {
    margin: 0;
    margin-bottom: 50px;
    font-weight: lighter;
    color: black;
}

.list-content {
    width: 75%;
    padding: 90px 20px;
    display: none;
}

.a-list-value {
    height: 40px;
    text-align: left;
    line-height: 40px;
    font-size: var(--font-size-small);
    display: flex;
}

.a-list-value:hover {
    color: black;
}

.list-name-value {
    width: 75%;
}

.viet-quanity-value {
    width: 25%;
    text-align: right;
}
