<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dialog.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/message.css') }}">
    {% block head %}{% endblock %}
    <!-- <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script> -->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&family=Nunito:wght@200;300;400;600;700&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Fira+Code&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');
    </style>
</head>
<body>
    <div class="menu">
        <div class="logo-container">
            <div class="logo">YOUR VOCABULARY</div>
        </div>
        {% if page == "home_page" %}
            <a class="current-page" href="{{ url_for('home_page') }}">Home</a>
        {% else %}
            <a href="{{ url_for('home_page') }}">Home</a>
        {% endif %}
        {% if page == "vocab_repository_page" %}
            <a class="current-page" href="{{ url_for('vocab_repository_page') }}">Vocabulary</a>
        {% else %}
            <a href="{{ url_for('vocab_repository_page') }}">Vocabulary</a>
        {% endif %}
        {% if page == "about_us_page" %}
            <a class="current-page" href="#">About Us</a>
        {% else %}
            <a href="#">About Us</a>
        {% endif %}
        <div class="user-action">
            {% if current_user.is_authenticated %}
                {% if page == "profile_page" %}
                    <a class="img-account-link current-page" href="{{ url_for('profile_page') }}">
                        <img class="img-account" src="/static/public/account.png">
                    </a>
                {% else %}
                    <a class="img-account-link" href="{{ url_for('profile_page') }}">
                        <img class="img-account" src="/static/public/account.png">
                    </a>
                {% endif %}
                <div class="dropdown">
                    <a class="account-dropbtn">{{ current_user.username }}</a>
                    <div id="account-dropdown" class="dropdown-content">
                      <a href="{{ url_for('profile_page') }}">Profile</a>
                      <a href="{{ url_for('logout') }}" >Logout</a>
                    </div>
                </div>
            {% else %}
                <a class="register-action" data-modal="register-dialog">Register</a>
                <a class="login-action">Login</a>
            {% endif %}
        </div>
    </div>
    <!-- The Modal -->
    <div id="register-dialog" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close" onclick="this.parentElement.parentElement.style.display='none';">&times;</span>
            <h2>Register</h2>
            <div id="message-register-dialog" class="message-in-dialog"></div>
            <div class="action-container">
                <input id="register-username" class="username" type="text" name="username" spellcheck="false" placeholder="Username"/><br>
                <input id="register-password" type="password" name="password" spellcheck="false" placeholder="Password"/><br>
                <input id="register-confirm-password" type="password" name="password" spellcheck="false" placeholder="Confirm-Password"/><br>
                <button id="register-btn">Register</button>
                <div class="dialog-footer">Have already an account? <b class="login-action">Login here</b></div>
            </div>
        </div>
    </div>
    <!-- The Modal -->
    <div id="login-dialog" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close" onclick="this.parentElement.parentElement.style.display='none';">&times;</span>
            <h2>Login</h2>
            <div id="message-login-dialog" class="message-in-dialog"></div>
            <div action="/login" class="action-container">
                <form id="login-form" action="/login" method="post">
                    <input id="login-username" class="username" type="text" name="username" placeholder="Username"/><br>
                    <input id="login-password" type="password" name="password" placeholder="Password"/><br>
                    <button type="submit" id="login-btn">Login</button>
                </form>
                <div class="dialog-footer">Don't have an account? <b class="register-action">Register here</b></div>
            </div>
        </div>
    </div>
    <!-- The Modal -->
    <div id="confirm-delete-dialog" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close" onclick="this.parentElement.parentElement.style.display='none';">&times;</span>
            <div class="action-container">
                <p id="item-delete"></p>
            </div>
            <div class="dialog-footer">
                <button class="cancel-btn-style" onclick="this.parentElement.parentElement.parentElement.style.display='none';">Cancel</button>
                <button id="sure-delete" class="delete-btn-style" onclick="this.parentElement.parentElement.parentElement.style.display='none';">Delete</button>
            </div>
        </div>
    </div>
    <div class="messages-container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="message-dialog show-message">
                        <img class="icon-message" src="/static/public/{{ category }}.png">&nbsp;
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
    <footer>
        2021 - Pham Van Minh
    </footer>
    <script src="/static/js/jquery_3.6.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/base.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/dialog.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/user.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/message.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/delete_confirmation.js') }}"></script>
    {% block script %}{% endblock %}
</body>
</html>
