<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    {% block head %}{% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <header>
        <img class="logo" src="{{ url_for('static', filename='public/logo.png') }}">
    </header>
    <div class="menu">
        {% if page == "home_page" %}
            <a class="disabled" href="{{ url_for('home_page') }}">Home</a>
        {% else %}
            <a href="{{ url_for('home_page') }}">Home</a>
        {% endif %}
        {% if page == "vocab_repository_page" %}
            <a class="disabled" href="{{ url_for('vocab_repository_page') }}">Vocab Repository</a>
        {% else %}
            <a href="{{ url_for('vocab_repository_page') }}">Vocab Repository</a>
        {% endif %}
        {% if page == "about_us_page" %}
            <a class="disabled" href="#">About Us</a>
        {% else %}
            <a href="#">About Us</a>
        {% endif %}
    </div>
    <div class="messages-container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="{{ category }}-message message">
                        {{ message }}
                        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    </div>
                {% endfor %}
          {% endif %}
        {% endwith %}
    </div>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/base.js') }}"></script>
    {% block script %}{% endblock %}
</body>
</html>
