{% extends 'base.html' %}
{% block title %}Vocab{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/card.css') }}">
{% endblock %}
{% block content %}
    <!-- The Modal -->
    <div id="manage-list-dialog" class="modal">
        <!-- Modal content -->
        <div class="modal-content manage-list-content">
            <span class="close" onclick="this.parentElement.parentElement.style.display='none';">&times;</span>
            <div class="list-content">
                <div class="header-content-of-a-list">
                    <h2>Please select a list</h2>
                </div>
                <div class="add-words-container">
                    <div class="field">
                        <input id="viet-word" class="viet-word" type="text" name="viet-word" placeholder="Vietnamese"/><br>
                    </div>
                    <div id="default-eng-word-field" class="field">
                        <input class="eng-word" type="text" name="eng-word" placeholder="English"/><br>
                    </div>
                    <div class="more-eng-field">
                    </div>
                    <div class="field add-more-eng-word-field-container">
                        <button class="add-more-eng-word-field"></button>
                    </div>
                    <div id="add-update-btn-container" class="field">
                        <button class="create-words-btn save-btn-style">Save</button>
                    </div>
                </div>
                <table class="list-content-table" id="words-table" style="width:100%"></table>
            </div>
        </div>
    </div>
    <div class="list-and-sidebar-container">
        <div class="sidebar-menu">
            <div class="search-container">
                <input
                    id="list-of-word-lists"
                    placeholder="Search by name of the lists"
                    list="list-of-lists"
                    name="list-of-word-lists"
                    class="input-checkbox"
                    autocomplete="off"
                >
                <datalist id="list-of-lists" class="data-list-list-of-word-lists">
                    {% for list in lists %}
                        <option list-id="{{ list.list_id }}" value="{{ list.list_name }}">
                    {% endfor %}
                </datalist>
                <button class="search-btn">
                    <img src="/static/public/search.svg">
                </button>
            </div>
        </div>
        <div id="lists-container">
            <div id="general-actions-container">
                <div>
                    <input
                        id="name-of-list-input"
                        placeholder="Type name of list"
                    >
                    <button class="create-a-list-btn save-btn-style">Create List</button>
                </div>
            </div>
            <div class="lists-cards-container">
                <div class="no-data">NO DATA!</div>
                {% for list in lists %}
                    <div class="card-of-list" list-id="{{ list.list_id }}" list-name="{{ list.list_name }}">
                        <div class="card-content">
                            <div id="list-basic-info-container">
                                <div class="name-of-list text-overflow-dot">{{ list.list_name }}</div>
                                <div class="property-of-list">
                                    <div>
                                        {{ list.num_viets }} Vietnamese words
                                    </div>
                                    <div>
                                        {{ list.num_engs }} English words
                                    </div>
                                </div>
                            </div>
                            <div id="parts-of-speech-container">
                                <div class="name-of-list text-overflow-dot">Parts Of Speech</div>
                                <div class="property-of-list">
                                    <div>
                                        <div>0 Nouns</div>
                                        <div>0 Adjectives</div>
                                    </div>
                                    <div>
                                        <div>0 Verbs</div>
                                        <div>0 Adverbs</div>
                                    </div>
                                </div>
                            </div>
                            <div id="severity-container">
                                <div class="name-of-list text-overflow-dot">Status</div>
                                <div class="property-of-list">
                                    <div>
                                        Completed 50%
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="card-footer">
                            <a class="quiz-list-btn" href="/lesson/{{ list.list_id }}">Quiz</a>
                        </div>
                        <div class="dropdown">
                            <button class="list-more-action-dropbtn"><img src="/static/public/more.png" ></button>
                            <div class="list-more-action-dropdown dropdown-content">
                              <button class="list-details-btn detail-info-btn-style" list-id="{{ list.list_id }}" list-name="{{ list.list_name }}">Details</button>
                              <button class="delete-list-btn delete-btn-style" list-id="{{ list.list_id }}" list-name="{{ list.list_name }}">Delete</button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        
    </div>
{% endblock %}
{% block script %}
  <script type="text/javascript" src="{{ url_for('static', filename='js/home.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/list.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/word.js') }}"></script>
{% endblock %}
