{% extends 'base.html' %}
{% block title %}Vocab{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}
{% block content %}
    <div class="form-container">
        <form class="add-words" action="/save_words" method="POST">
            {% for field in form %}
                <div>
                    {{ field.label }}
                    {{ field }}
                    {% for field, errors in form.errors.items() %}
                        <small>
                            {{ ', '.join(errors) }}
                        </small>
                    {% endfor %}
                </div>
            {% endfor %}
            <button type="submit">
                Save
            </button>
        </form>
    </div>
    <div class="form-container">
        <button class="start-lesson-btn">Start a lesson</button>
        <div class="lesson-area disabled">
            <div class="learning-progress">Progress: 0/0</div>
            <button class="previous-word">Previous</button>
            <button class="next-word disable">Next</button>
            <div class="viet-word"></div>
            <input id="eng-words" type="text" name="eng-words"/> <br>
            <button class="check-vocab-btn">Check</button>
            <div class="answers"></div>
        </div>
    </div>
{% endblock %}
