{% extends 'base.html' %}
{% block title %}Vocabulary Repository{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/vocab_repository.css') }}">
{% endblock %}
{% block content %}
    <div class="action-container">
        <h4>Add words to a list</h4>
        <div class="field">
            <label>List of words: </label>
            <input
                    id="list-of-word-lists"
                    placeholder="Please select a list"
                    list="list-of-lists"
                    name="list-of-word-lists"
                    class="list-of-word-lists"
            >
            <datalist id="list-of-lists" class="data-list-list-of-word-lists">
                {% for list in lists %}
                    <option value="{{ list.list_name }}">
                {% endfor %}
            </datalist>
            <button class="create-a-list-btn disabled">Create a list</button>
        </div>
        <div class="add-words-container disabled">
            <div class="field">
                <label>Vietnamese word: </label>
                <input id="viet-word" class="viet-word" type="text" name="viet-word"/><br>
            </div>
            <div class="field">
                <label>English word: </label>
                <input class="eng-word" type="text" name="eng-word"/><br>
            </div>
            <div class="more-eng-field">
            </div>
            <div class="field add-more-eng-word-field-container">
                <button class="add-more-eng-word-field"></button>
            </div>
            <div>
                <button class="create-words-btn">Save</button>
            </div>
        </div>
    </div>
    <div class="lists-container">
        <div class="content-of-lists-container">
            <div class="list-of-list-name list-item">
                <h2>ALL YOUR LISTS</h2>
            </div>
            <div class="list-content list-item"></div>
        </div>
    </div>
{% endblock %}
{% block script %}
  <script type="text/javascript" src="{{ url_for('static', filename='js/vocab_repository.js') }}"></script>
{% endblock %}

