{% extends 'base.html' %}
{% block title %}Vocabulary Repository{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/vocab_repository.css') }}">
{% endblock %}
{% block content %}
    <!-- <div class="action-container">
        <h4>Add words to a list</h4>
        <div class="field">
            <label>List of words: </label>
            <input
                    id="list-of-word-lists"
                    placeholder="Please select a list"
                    list="list-of-lists"
                    name="list-of-word-lists"
                    class="list-of-word-lists"
                    autocomplete="off"
            >
            <datalist id="list-of-lists" class="data-list-list-of-word-lists">
                {% for list in lists %}
                    <option list-id="{{ list.list_id }}" value="{{ list.list_name }}">
                {% endfor %}
            </datalist>
            <button class="create-a-list-btn disabled">Create a list</button>
        </div>
        <div class="add-words-container disabled">
            <div class="field">
                <label>Vietnamese word: </label>
                <input id="viet-word" class="viet-word" type="text" name="viet-word"/><br>
            </div>
            <div class="field">
                <label>English word: </label>
                <input class="eng-word" type="text" name="eng-word"/><br>
            </div>
            <div class="more-eng-field">
            </div>
            <div class="field add-more-eng-word-field-container">
                <button class="add-more-eng-word-field"></button>
            </div>
            <div>
                <button class="create-words-btn">Save</button>
            </div>
        </div>
    </div> -->
    <div class="lists-container">
        <div class="content-of-lists-container">
            <div class="list-of-list-name">
                <h2>ALL YOUR LISTS</h2>
                {% for list in lists %}
                    <div class="a-list-value" list-id="{{ list.list_id }}" list-name="{{ list.list_name }}">
                        <div class="list-name-value text-overflow-dot">
                            {{ list.list_name }}
                        </div>
                        <div class="viet-quanity-value text-overflow-dot">
                            {{ list.num_viets }} words
                        </div> 
                    </div>
                {% endfor %}
            </div>
            <div class="list-content">
                <div class="header-content-of-a-list">
                    <h2>Please select a list</h2>
                    <div class="management-list-btn-container disabled">
                        <button class="add-words-btn" >Add words</button>
                        <button class="delete-list-btn" >Delete list</button>
                    </div>
                </div>
                <table class="list-content-table" style="width:100%">
                    <tr>
                        <th>No</th>
                        <th>Vietnamese</th>
                        <th>English</th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
  <script type="text/javascript" src="{{ url_for('static', filename='js/vocab_repository.js') }}"></script>
{% endblock %}

